<h1 id='title'>Welcome to Ember.js</h1>

<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-inner">
			<a class="navbar-brand" href="#">IDBD Test</a>
			<ul class="nav navbar-nav">
				<li>{{#link-to 'authors'}}Authors{{/link-to}}</li>
			</ul>
		</div>
	</div>
</div>

{{outlet}}
